body {
  position: relative;
  background: #fafafa;
  color: #33333a;
  padding-top: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #323232;
}

.main-color {
  background-color: #f39f32;
}

.strike-through-td {
  text-decoration: line-through;
}

#page-container {
  position: relative;
  min-height: 95vh;
}

#content-wrap {
  padding-bottom: 4.5rem;

}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem;

}