{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Contact us</h1>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" required>
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control" rows="10" name="message" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>