<footer class="footer card-footer fixed-bottom" style="background-color: #ffc078">

    <div style="display: flex; justify-content: center; margin-right: 55px;">
        <img src="{{ url_for('static', path='/popcorn/photos/popcorn_logo.png') }}" alt="Logo" style="width: 100px;">
    </div>

    <div style="display: flex; justify-content: center; margin-top: 20px; text-align: center;">
        <div>
            <strong>Telefon:</strong> <span><br>519 663 754</span>
        </div>
        <div style="margin-left: 20px; margin-right: 20px;">
            <strong>Email:</strong> <span><br>solarze1@gmail.com</span>
        </div>
        <div>
            <strong>Adres:</strong> <span><br>Nowe Boryszewo 19<br>09-410 Obok Płocka</span>
        </div>
    </div>
</footer>
