<footer class="card-footer" style="border: 0;">


    <div style="display: flex; justify-content: center;">
        <p style="display: inline; margin-right: 25px;">
            <img src="/static/popcorn/photos/phone-call.png" style="max-height: 20px; margin-right: 10px;" alt="phone">
            519 663 754
        </p>
        <p style="display: inline; margin-right: 25px;">
            <img src="/static/popcorn/photos/marker.png" style="max-height: 20px; margin-right: 10px;" alt="phone">
            Nowe Boryszewo 19 09-442 Obok Płocka
        </p>
        <p style="display: inline; margin-right: 25px;">
            <img src="/static/popcorn/photos/envelope.png" style="max-height: 20px; margin-right: 10px;" alt="phone">
            solarze1@gmail.com
        </p>



    </div>
    <div style="justify-content: left;">
        <p style="display: inline-block; margin-right: 10px; font-size: 0.75rem;">© 2024 Popcorn Works, All Rights
            Reserved.</p>
    </div>

</footer>