{% include 'layout.html' %}

<div>

    <div class="corner-element top-left-mechanic">
        <a href="#">
            <div class="corner-title">Naprawy</div>
        </a>
        <div class="scrollable-mechanic-list">
            <ul>
                <li>Test Item</li>
                <li>Test Item</li>
                <li>Test Item</li>
                <li>Test Item</li>
                <li>Test Item</li>
                <li>Test Item</li>
                <li>Test Item</li>
                <li>Test Item</li>
                <li>Test Item</li>
                <li>Test Item</li>
                <li>Test Item</li>
            </ul>
        </div>
    </div>

    <div class="corner-element top-right-mechanic">
        <a href="#">
            <div class="corner-title">Wiadomości</div>
        </a>
        <div class="scrollable-mechanic-list">
            <ul>
                <li>Test Item</li>
                <li>Test Item</li>
                <li>Test Item</li>
                <li>Test Item</li>
                <li>Test Item</li>
                <li>Test Item</li>
                <li>Test Item</li>
                <li>Test Item</li>
                <li>Test Item</li>
                <li>Test Item</li>
                <li>Test Item</li>
            </ul>
        </div>
    </div>

    <div class="corner-element bottom-mechanic">
        <a href="#">
            <div class="corner-title">Kalendarz</div>
        </a>
        <div>Wielkie XD jak to zrobić xD</div>
    </div>

</div>

</div>